* {
  font-family: system-ui, sans-serif;
}

html,
body {
  margin: 0;
}

header {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 1rem;
}

main {
  display: grid;
  gap: 2rem;
  padding: 1rem;
}

h2,
h3 {
  margin-top: 0;
}

.form-field {
  display: grid;
  margin-bottom: 0.5rem;
}

label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

input {
  padding: 0.5rem;
}
